{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>TOXIC RESTAURANT</title>
  <link rel="stylesheet" href="{% static 'css/Website.css' %}">
</head>

<body>
  <div>
    <h1 id="Head1">
      <marquee behavior="alternate" direction="left" scrollamount="20"> Toxic Restaurant</marquee>
    </h1>
    <h1 id="Head">
      <marquee direction="right">Habibi,Welcome to Toxic Restaurant</marquee>
    </h1>
    <h1 id="Head">
      <marquee direction="">It is the Hub of All Indian Foods</marquee>
    </h1>
    <br /><br><br>
  </div>

  <div id="top" align="center">
    <a href="#Head1"><span id="h">HOME</span></a>
    <a href="#veg"><span id="v">VEG</span></a>
    <a href="#non"><span id="n">NON-VEG</span></a>
    <a href="#con"><span id="c">CONTACT</span></a>
    <a href="#add"><span id="a">ADDRESS</span></a>
  </div>
  <br/><br><br>
  <div>

    <a href="#Head1"><h1 id="veg" >VEG MENU</h1></a>
    <br/><br><br>
    <table  cellspacing="40px" align="center">
      <tr>
        <td id="img">
          <img src="{% static 'images/Veg3.jpg' %}" alt="breakfast" width="300px" height="300px" />
        </td>
        <td>
          <img src="{% static 'images/Veg2.jpg' %}" alt="breakfast" width="300px" height="300px" />
        </td>
        <td>
          <img src="{% static 'images/Veg1.jpg' %}" alt="breakfast" width="300px" height="300px" />
        </td>
        <td>
          <img src="{% static 'images/Veg.jpg' %}" alt="breakfast" width="300px" height="300px" />
        </td>
      </tr>
      <tr>
        <td>Breakfast @55/-</td>
        <td>Healthy Food @99/-</td>
        <td>Masla Panner @121/-</td>
        <td> Veg Starter @221/-</a></td>
      </tr>
      <tr>
        <td id="img">
          <img src="{% static 'images/bug.jpg' %}" alt="breakfast" width="300px" height="300px" />
        </td>
        <td>
          <img src="{% static 'images/des.jpg' %}" alt="breakfast" width="300px" height="300px" />
        </td>
        <td>
          <img src="{% static 'images/plate.jpg' %}" alt="breakfast" width="300px" height="300px" />
        </td>
        <td>
          <img src="{% static 'images/sal.jpg' %}" alt="breakfast" width="300px" height="300px" />
        </td>
      </tr>
      <tr>
        <td>Burger @129/-</td>
        <td>Desert @159/-</td>
        <td>Masla Pasta @121/-</td>
        <td>Our Special @221/-</a></td>
      </tr>
    </table>
  </div>
  <br/><br><br>
  <div>
    <a href="#Head1"><h1 id="non">NON-VEG MENU</h1></a>
    <br/><br><br>
    <table cellspacing="40px" align="center">
      <tr>
        <td id="img">
          <img src="{% static 'images/Non1.jpg' %}" alt="breakfast" width="300px" height="300px" />
        </td>
        <td>
          <img src="{% static 'images/Non2.jpg' %}" alt="breakfast" width="300px" height="300px" />
        </td>
        <td>
          <img src="{% static 'images/Non3.jpg' %}" alt="breakfast" width="300px" height="300px" />
        </td>
        <td>
          <img src="{% static 'images/Non.jpg' %}" alt="breakfast" width="300px" height="300px" />
        </td>
      </tr>
      <tr>
        <td>Non-Veg Thali @299/-</td>
        <td>Seafood @99/-</td>
        <td>Chicken Tandori @79/-</td>
        <td>Non-veg Starter @499/-</td>
      </tr>
      <tr>
        <td id="img">
          <img src="{% static 'images/tag.jpg' %}" alt="breakfast" width="300px" height="300px" />
        </td>
        <td>
          <img src="{% static 'images/piz.jpg' %}" alt="breakfast" width="300px" height="300px" />
        </td>
        <td>
          <img src="{% static 'images/pasta.jpg' %}" alt="breakfast" width="300px" height="300px" />
        </td>
        <td>
          <img src="{% static 'images/bir.jpg' %}" alt="breakfast" width="300px" height="300px" />
        </td>
      </tr>
      <tr>
        <td>Chicken Tagdi @299/-</td>
        <td>Pizza @199/-</td>
        <td>Pasta @99/-</td>
        <td>Dum Biriyani @399/-</td>
      </tr>
    </table>
  </div>
  <br>
  <br><br>
  <div id="con">
    <a href="#Head1"><h1>CONTACT</h1></a><br><br>
    <p>We are here to serve you the foods all over the India
    For Good food contact us: <br>
    Mail:toxic@gmail.com,Mob:9658012345</p>
  </div>
  <br><br>
  <div>
    <a href="#Head1"><h1 id="add">ADDRESS</h1><br></a>
    <p>
      Infront of PG stay,1st cross road,<br />
      Tulsi Theater Rd, Marathahalli Village Marathahalli,<br />
      4 pentals Bengaluru - 560037, Karnataka
    </p>
  </div>
  <br><br><br>
</body>

</html>